<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New account</title>
</head>
<body>
    <h1>New Accunt</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Enter the name: </label>
        <input type="text" name="name" id="name"><br>

        <label for="adrs">Enter the address: </label>
        <input type="text" name="adrs" id="adrs"><br>

        <label for="ph">Enter the Phone no: </label>
        <input type="text" name="ph" id="ph"><br>

        <label for="uname">Enter the username: </label>
        <input type="text" name="uname" id="uname"><br>
        
        <label for="pswd">Enter the password: </label>
        <input type="text" name="pswd" id="pswd"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>